CREATE TABLE IF NOT EXISTS public.ticket_csat_feedback (id UUID PRIMARY KEY DEFAULT uuid_generate_v4(), ticket_id UUID REFERENCES public.tickets(id) ON DELETE CASCADE, user_id UUID, rating INTEGER, comment TEXT, submitted_at TIMESTAMPTZ, language TEXT DEFAULT 'en', reminder_count INTEGER DEFAULT 0, next_reminder_at TIMESTAMPTZ, status TEXT DEFAULT 'pending');
